body{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: blueviolet;
      color: white;
}

.topbox{
    display: flex;
    align-items:center;
    flex-direction: column;
}